:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --brand-color-accent: #2196f3;
  --brand-color-bg: #2f303a;
  --bgcolor-primary: #ffffff;
  --bgcolor-secondary: #f5f4fa;
  --gap: 30px;
}

body {
  background: var(--bgcolor-primary);
  color: var(--text-color-primary);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  list-style-type: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 2px solid tomato; */
}

.image {
  display: block;
  max-width: 100%;
}

.top-line {
  border-bottom: 1px solid #ececec;
}

/* page header */
.page-header {
  display: flex;
  align-items: center;
}

/*logo*/

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--brand-color-accent);
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

/*menu-nav*/

.site-nav {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item:first-child {
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;

  color: inherit;
}

/*Contacts*/

.contacts {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;

  color: var(--text-color-secondary);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--brand-color-accent);
}

/*Hero*/

.hero {
  padding: 200px 0;
  background-color: var(--brand-color-bg);
  text-align: center;
}

.hero-title {
  width: 696px;
  height: 120px;
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  padding: 10px 32px;
  margin-top: 30px;
  border: 0;
  border-radius: 4px;

  background-color: var(--brand-color-accent);
  color: #ffffff;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  background: #188ce8;
}
/*Section*/

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section.about {
  padding-top: 0;
}

/*Features*/

.features {
  display: flex;
  gap: var(--gap);
}

.features .item{
  flex-basis: calc((100% - (3 * var(--gap)))/4)
}
/* .features .item:nth-child(4n) {
  margin-right: 0;
} */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.features-description {
  display: block;
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.7;

  color: #757575;
}

/*Work*/

.work {
  display: flex;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

/*Team*/

.team {
  display: flex;
  gap: var(--gap);
  
  background-color: var(--bgcolor-secondary);
}

/* .team .cards:nth-child(4n){
  margin-right: 0;
} */

.team .cards{
flex-basis: calc((100% - (3 * var(--gap)))/4);
}

.cards {
  background-color: var(--bgcolor-primary);
  text-align: center;
}

.cards-text {
  padding: 30px 0;
}

.cards-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.cards-captions {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color-secondary);
}

/*Footer*/

.footer {
  padding: 60px 0;
  background-color: var(--brand-color-bg);
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.link:hover,
.link:focus {
  color: var(--brand-color-accent);
}

/*Portfolio*/

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 25px;
  border-radius: 4px;

  cursor: pointer;

  background-color: var(--bgcolor-secondary);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  border: 0;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--brand-color-accent);
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  
}

.gallery .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-caption {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color-secondary);
}

.gallery .text {
  padding: 20px 24px;
    border-left: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
}

.gallery .item{
  flex-basis: calc((100% - (2 * var(--gap))) / 3);
}